Source: fwf
Priority: extra
Maintainer: Erling Andersen <Erling.Andersen@Helse-Bergen.NO>
Build-Depends: debhelper (>= 5), autotools-dev, autoconf, automake, libtool, \
	libxaw7-dev
Standards-Version: 3.7.2

Package: fwf-test
Section: science
Architecture: any
Depends: libfwf (= ${Source-Version})
Description: Test programs for Xfwf widgets
 This package contains the test programs provided by the
 Xfwf Free Widget Foundation widgets.

Package: libfwf
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Shared libraries for Xfwf widgets
 This package contains the shared libraries used by the
 Xfwf Free Widget Foundation widgets.

Package: libfwf-dev
Section: devel
Architecture: any
Depends: libfwf (= ${Source-Version}), libx11-dev
Description: Development libraries and header files for Xfwf widgets
 This development package contains the static libraries and header files for the
 Xfwf Free Widget Foundation widgets.
