Source: fwf
Section: libs
Priority: extra
Maintainer: Erling Andersen <Erling.Andersen@Helse-Bergen.NO>
Build-Depends: debhelper (>=  6.0.7~), autotools-dev, autoconf, automake,
	libtool, libxaw7-dev
Standards-Version: 3.8.0

Package: fwf-test
Section: science
Architecture: any
Depends: libfwf4 (= ${binary:Version}), ${shlibs:Depends}
Description: Test programs for Xfwf widgets
 This package contains the test programs provided by the
 Xfwf Free Widget Foundation widgets.

Package: libfwf4
Provides: libfwf
Conflicts: libfwf
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, libxaw7
Description: Shared libraries for Xfwf widgets
 This package contains the shared libraries used by the
 Xfwf Free Widget Foundation widgets.

Package: libfwf4-dev
Provides: libfwf-dev
Conflicts: libfwf-dev
Section: libdevel
Architecture: any
Depends: libfwf4 (= ${binary:Version}), libxaw7-dev
Description: Development libraries and header files for Xfwf widgets
 This development package contains the static libraries and header files for the
 Xfwf Free Widget Foundation widgets.
